/**
 * Typography Settings
 *
 * 1. Text selection highlight color
 * 2. Text selection text color
 */

@import '../../bower_components/Archetype-u-colorkit/_u-colorkit';

/**
 * Modular Scale
 * 
 * https://github.com/scottkellum/modular-scale
 * http://thesassway.com/projects/modular-scale
 * http://modularscales.com
 *
 * To set multiple $base-size and/or $ratio values use a space separated list. If
 * you use multiple $base-size values, the starting point of the scale will always
 * be the lowest value in this list.
 *
 * golden 1:1.618 (default)
 * double-octave 1:4 
 * major-twelfth 1:3
 * major-eleventh 3:8 
 * major-tenth 2:5
 * octave 1:2
 * major-seventh 8:15
 * minor-seventh 9:16
 * major-sixth
 * minor-sixth 5:8
 * fifth 2:3
 * augfourth 1:√2
 * fourth 3:4
 * major-third 4:5
 * minor-third 5:6
 * major-second 8:9
 * minor-second 15:16
 *
 * 1. Default to $base-font-size 
 */
@import "modular-scale";

$base-size: 16px;                                     /* 1 */
$ratio: fourth();


// create a map for ms settings??
$ms_settings: (
  // ??
);

/**
 * Typography Variables
 * 
 * 1. typography styles and variables are scoped. see comment in modules/core/_typography.scss
 * 2. path to web font or icon font used in font-face mixin
 */

/** 
 * Type Scope Namespace: 
 */

/**
 * Main Type Scope
 * 
 * Abstracting typographic element variables to allow for easily adding additional type scopes if needed.
 * Add the additional typography scope styles and variables next to the main type scope styles and variables.
 */
$main-type-scope:                     copy;         /* 1 */
// $file-path:;                       path_to_font  /* 2 */


/**
 * Typography Structure
 *
 * 1. every third meta line will line up with every seoncond baseline
 * 2. every third meta line will line up with every seoncond baseline
 */
$typography--structure: (
  fontSize: (
    h1: ms(5),
    h2: ms(4),
    h3: ms(3),
    h4: ms(2),
    h5: ms(1),
    h6: ms(0),
    lead: ms(2),
    meta: ms(-1),
    footnote: ms(-2),
    subheader: ms(3),  // one larger than the paragraph lead size on the ms scale
    small: ms(-1),    // .80 or about 13px        
    sub-sup: ms(-2)  // .75 or about 12px
  ),
  lineHeight: (
    meta: 2/3,  // 1
    footnote: 2/3,   // 2
    base: 1
  )
);


/**
 * Typography Skin
 *
 */
$typography--skin: (
  fontStack: (
    georgia:        "Georgia, Cambria, 'Times New Roman', Times, serif !default",
    helvetica:      "'Helvetica Neue', Helvetica, Arial, sans-serif !default",
    lucida-grande:  "'Lucida Grande', Tahoma, Verdana, Arial, sans-serif !default",
    verdana:        "Verdana, Geneva, sans-serif !default",
    monospace:      "'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif !default"
  ),
  txtColor: (
    //muted:  // these should be coming from colorkit...colorkit = dependency of type.
    //accent:
    //subtle:
    //strong:
    lead:                _u-deepGet($colorPallet, baseColor, subtle),
    hero:                _u-deepGet($colorPallet, baseColor, subtle),
    subheader:           _u-deepGet($colorPallet, baseColor, subtle),
    accent:              _u-deepGet($colorPallet, baseColor, subtle),
    body:                black(30),
    mark:                _u-deepGet($colorPallet, baseColor, white),
    deleted:             _u-deepGet($colorPallet, baseColor, subtle),
    ins:                 _u-deepGet($colorPallet, baseColor, subtle),
    selection:           _u-deepGet($colorPallet, baseColor, white),
    header:              black(40)
  ),
  bgColor: (
    ins:                  #ff9,
    mark:                 yellow,
    body:                 _u-deepGet($colorPallet, baseColor, white),
    selection:            #fe57a1,   /* 1 */
    tap:                  black(75)
  )
);

